@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Libre+Baskerville&display=swap');

/* GLOBAL */
* {
    /* border: 1px solid red; */
}

body {

    /* display */
    margin: 0;
    padding: 0;

}

/* MAIN */
.main--container {

    /* display */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr .5fr 1.5fr 1fr;

}

/* grid-layout */
.column {

    /* display */
    

}


/* NAV */
.nav {

    /* display */
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* design */
    background-color: rgba(180,162,105,255);
    
}

.nav--title {
    
    /* display */
    margin-top: 10px;
    transform: skew(15deg, -10deg);
    
    /* design */
    font-family: 'Island Moments', cursive;
    font-size: 8em;
    

}

.nav--p {

    /* display */
    margin: 15px;

    /* design */
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2em;

}

.instagram {

    /* display */
    margin-top: 10px;
    width: 40px;

}

/* rgba(34,93,56,255) */

